CONFIG_FREERTOS_HZ=1000
CONFIG_LWIP_IPV4=y
CONFIG_LWIP_IPV6=y
CONFIG_LWIP_IRAM_OPTIMIZATION=y
CONFIG_LWIP_EXTRA_IRAM_OPTIMIZATION=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=60

# Set fixed TCP/UDP buffer sizes for consistent loopback performance testing
CONFIG_IPERF_DEF_TCP_TX_BUFFER_LEN=16384
CONFIG_IPERF_DEF_TCP_RX_BUFFER_LEN=16384
CONFIG_IPERF_DEF_IPV4_UDP_TX_BUFFER_LEN=1470
CONFIG_IPERF_DEF_IPV6_UDP_TX_BUFFER_LEN=1450
CONFIG_IPERF_DEF_UDP_RX_BUFFER_LEN=16384
